## Shift + tab for methods info
## command + / = comments out all

In [70]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import colors

import datetime as dt
import numpy as np
import os

# Load packages
from pygeocoder import Geocoder

In [71]:
os.listdir()

['MyETLProject_2010-Present.ipynb',
 'ETL_project.sql',
 'CrimeData_2010-Present.csv',
 'MyETLProject_2010-Present-Copy1.ipynb',
 '.ipynb_checkpoints',
 'diffs_latlong.py',
 'us-zip-code-latitude-and-longitude.json']

In [72]:
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [73]:
df = pd.read_csv("CrimeData_2010-Present.csv",parse_dates=True)

In [74]:
df.head()
df.tail()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
1048570,171518209,9/3/17,9/2/17,1500,15,N Hollywood,1501,510,VEHICLE - STOLEN,NaN,...,NaN,AO,Adult Other,510.0,NaN,NaN,NaN,SATICOY,VARNA,"(34.2087, -118.4247)"
1048571,171518210,9/3/17,9/3/17,1500,15,N Hollywood,1501,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,...,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,ARMINTA ST,AMPERE AV,"(34.213, -118.4189)"
1048572,171518213,9/3/17,9/3/17,1910,15,N Hollywood,1504,624,BATTERY - SIMPLE ASSAULT,0913 0400,...,UNKNOWN WEAPON/OTHER WEAPON,AA,Adult Arrest,624.0,NaN,NaN,NaN,11900 RUNNYMEDE ST,NaN,"(34.2058, -118.3921)"
1048573,171518214,9/3/17,9/3/17,1300,15,N Hollywood,1586,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1259,...,NaN,JA,Juv Arrest,745.0,NaN,NaN,NaN,10600 VALLEYHEART DR,NaN,"(34.1419, -118.3609)"
1048574,171518215,9/3/17,9/3/17,1730,15,N Hollywood,1591,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 1814 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,626.0,NaN,NaN,NaN,12600 VENTURA BL,NaN,"(34.1437, -118.4074)"

In [75]:
type(df)

pandas.core.frame.DataFrame

## Check variables

In [7]:
#save columns to an object (save the columns in a list to mutate them)

# cols= list(df.columns)
# print(cols)

['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred', 'Area ID', 'Area Name', 'Reporting District', 'Crime Code', 'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex', 'Victim Descent', 'Premise Code', 'Premise Description', 'Weapon Used Code', 'Weapon Description', 'Status Code', 'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3', 'Crime Code 4', 'Address', 'Cross Street', 'Location ']

In [174]:
#remove spaces from 

# for i in range(len(cols)):
#     cols[i]=cols[i].strip()
# print(cols)

['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred', 'Area ID', 'Area Name', 'Reporting District', 'Crime Code', 'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex', 'Victim Descent', 'Premise Code', 'Premise Description', 'Weapon Used Code', 'Weapon Description', 'Status Code', 'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3', 'Crime Code 4', 'Address', 'Cross Street', 'Location']

In [78]:
#remove spaces from the variable name by assigning the values to a new variable
df['Location'] = df['Location ']
#removed old column
df.drop(columns= 'Location ')

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,11401303,9/13/10,9/12/10,45,14,Pacific,1485,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,"(33.9599, -118.3962)"
1,70309629,8/9/10,8/9/10,1515,13,Newton,1324,946,OTHER MISCELLANEOUS CRIME,344,...,NaN,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,"(34.0224, -118.2524)"
2,100100508,1/8/10,1/7/10,2005,1,Central,182,330,BURGLARY FROM VEHICLE,344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,PICO BL,GRAND AV,"(34.0389, -118.2643)"
3,100100511,1/9/10,1/6/10,2100,1,Central,132,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1402,...,NaN,IC,Invest Cont,341.0,998.0,NaN,NaN,200 S OLIVE ST,NaN,"(34.0538, -118.2488)"
4,100100523,1/15/10,1/15/10,245,1,Central,182,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",329,...,NaN,AA,Adult Arrest,740.0,NaN,NaN,NaN,1100 S OLIVE ST,NaN,"(34.0409, -118.2609)"
5,100100552,1/23/10,1/23/10,1225,1,Central,192,237,CHILD NEGLECT (SEE 300 W.I.C.),1251,...,NaN,IC,Invest Cont,237.0,NaN,NaN,NaN,1300 S FLOWER ST,NaN,"(34.0401, -118.2668)"
6,100100562,1/28/10,1/28/10,2345,1,Central,152,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,500 S GRAND AV,NaN,"(34.0502, -118.254)"
7,100100575,2/1/10,1/31/10,1720,1,Central,181,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1402,...,NaN,AA,Adult Arrest,341.0,NaN,NaN,NaN,1100 S FIGUEROA ST,NaN,"(34.0437, -118.2652)"
8,100100610,2/11/10,2/10/10,1800,1,Central,162,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325 1402,...,NaN,AA,Adult Arrest,442.0,998.0,NaN,NaN,700 W 7TH ST,NaN,"(34.048, -118.2577)"
9,100100616,2/11/10,2/11/10,1515,1,Central,192,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1212,...,NaN,AA,Adult Arrest,341.0,NaN,NaN,NaN,PICO,GRAND,"(34.0389, -118.2643)"
10,100100638,2/20/10,2/20/10,100,1,Central,164,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",329,...,NaN,AA,Adult Arrest,740.0,NaN,NaN,NaN,100 W 7TH ST,NaN,"(34.0439, -118.2514)"
11,100100650,2/25/10,2/25/10,30,1,Central,111,310,BURGLARY,0344 1251,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,500 N FIGUEROA ST,NaN,"(34.0617, -118.2469)"
12,100100654,2/27/10,2/27/10,1955,1,Central,174,946,OTHER MISCELLANEOUS CRIME,NaN,...,NaN,AA,Adult Arrest,946.0,NaN,NaN,NaN,W 7TH ST,S SPRING ST,"(34.0445, -118.2523)"
13,100100660,3/1/10,3/1/10,100,1,Central,148,648,ARSON,1501,...,NaN,IC,Invest Cont,648.0,NaN,NaN,NaN,5TH,SAN PEDRO ST,"(34.0435, -118.2427)"
14,100100697,3/12/10,3/12/10,1520,1,Central,151,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1402,...,NaN,AA,Adult Arrest,341.0,998.0,NaN,NaN,7TH,FIGUEROA,"(34.0499, -118.2614)"
15,100100725,3/18/10,3/18/10,15,1,Central,145,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",400,...,MACE/PEPPER SPRAY,AA,Adult Arrest,230.0,NaN,NaN,NaN,400 S MAIN ST,NaN,"(34.0482, -118.2472)"
16,100100726,3/19/10,3/19/10,1000,13,Newton,1307,624,BATTERY - SIMPLE ASSAULT,0416 0429 0917 1804,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,800 E 8TH ST,NaN,"(34.0371, -118.2475)"
17,100100733,3/21/10,3/21/10,1000,11,Northeast,1171,946,OTHER MISCELLANEOUS CRIME,1402,...,NaN,IC,Invest Cont,946.0,998.0,NaN,NaN,WAVERLY,SUNSET BL,"(34.0917, -118.2741)"
18,100100738,3/22/10,3/19/10,1730,1,Central,195,627,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,0416 0552,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,627.0,NaN,NaN,NaN,1800 S MAIN ST,NaN,"(34.0317, -118.2641)"
19,100100740,3/25/10,3/22/10,1915,1,Central,142,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,230.0,NaN,NaN,NaN,4TH ST,GRAND AV,"(34.0516, -118.2526)"
20,100100744,3/23/10,3/23/10,230,1,Central,101,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0311 0329 0906,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,1200 INNES AV,NaN,"(34.0717, -118.2493)"
21,100100753,3/25/10,3/25/10,240,1,Central,171,946,OTHER MISCELLANEOUS CRIME,0906 1501,...,NaN,AA,Adult Arrest,946.0,NaN,NaN,NaN,900 GEORGIA ST,NaN,"(34.0475, -118.2657)"
22,100100764,4/1/10,3/29/10,2320,1,Central,176,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,SAN PEDRO ST,9TH ST,"(34.0373, -118.2503)"
23,100100792,4/10/10,4/10/10,1710,1,Central,135,210,ROBBERY,302,...,HAND GUN,IC,Invest Cont,210.0,NaN,NaN,NaN,100 E 3RD ST,NaN,"(34.0496, -118.2458)"
24,100100799,4/12/10,4/12/10,1700,1,Central,111,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 1251 1300,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,YALE,COLLEGE,"(34.0672, -118.2385)"
25,100100802,4/14/10,4/14/10,1515,1,Central,155,946,OTHER MISCELLANEOUS CRIME,914,...,NaN,AA,Adult Arrest,946.0,NaN,NaN,NaN,200 E 6TH ST,NaN,"(34.0446, -118.249)"
26,100100803,4/14/10,4/14/10,915,1,Central,161,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1402,...,NaN,IC,Invest Cont,341.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,"(34.0494, -118.2599)"
27,100100812,4/16/10,4/16/10,800,1,Central,152,441,THEFT PLAIN - ATTEMPT,1402,...,NaN,IC,Invest Cont,441.0,998.0,NaN,NaN,7TH,OLIVE,"(34.0467, -118.2556)"
28,100100826,4/17/10,4/17/10,1300,1,Central,124,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,...,NaN,IC,Invest Cont,745.0,998.0,NaN,NaN,1ST,MAIN ST,"(34.0522, -118.2434)"
29,100100828,4/17/10,4/17/10,1900,1,Central,111,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0400 0421 0432 1402,...,VERBAL THREAT,IC,Invest Cont,930.0,998.0,NaN,NaN,CESAR E CHAVEZ BL,SPRING ST,"(34.0582, -118.2387)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,171518129,9/2/17,9/2/17,1230,15,N Hollywood,1583,860,BATTERY WITH SEXUAL CONTACT,0500 0522 0520 0531 0532 0503 0432 1821 2001,...,PHYSICAL PRESENCE,IC,Invest Cont,860.0,NaN,NaN,NaN,4000 TUJUNGA AV,NaN,"(34.1451, -118.3875)"
1048546,171518132,9/3/17,9/3/17,300,15,N Hollywood,1548,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,MAGNOLIA BL,LANKERSHIM BL,"(34.1649, -118.3757)"
1048547,171518133,9/3/17,9/3/17,145,15,N Hollywood,1599,310,BURGLARY,0314 1202 1403 0344 1606,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,3900 FREDONIA DR,NaN,"(34.1354, -118.3631)"
1048548,171518134,9/3/17,9/3/17,1,15,N Hollywood,1517,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,FAIR AV,VANOWEN,"(34.194, -118.3746)"
1048549,171518135,9/3/17,9/2/17,1600,15,N Hollywood,1557,440,THEFT PLAIN - PETTY ($950 & UNDER),344,...,NaN,AO,Adult Other,440.0,NaN,NaN,NaN,10800 MAGNOLIA BL,NaN,"(34.1649, -118.3659)"
1048550,171518136,9/1/17,9/1/17,1930,15,N Hollywood,1549,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1822 0421,...,VERBAL THREAT,IC,Invest Cont,930.0,NaN,NaN,NaN,BONNER AV,BURBANK BL,"(34.1722, -118.3741)"
1048551,171518137,9/2/17,9/2/17,1000,15,N Hollywood,1522,624,BATTERY - SIMPLE ASSAULT,0444 0913,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,624.0,NaN,NaN,NaN,6800 COLDWATER CANYON AV,NaN,"(34.1936, -118.4166)"
1048552,171518138,9/2/17,9/2/17,2230,15,N Hollywood,1543,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",2004 0329 1609,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,5400 LAUREL CANYON BL,NaN,"(34.1685, -118.4008)"
1048553,171518139,9/2/17,9/2/17,1915,15,N Hollywood,1505,624,BATTERY - SIMPLE ASSAULT,0416 0444,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,7200 IRVINE AV,NaN,"(34.2012, -118.3855)"
1048554,171518140,9/2/17,9/2/17,2259,15,N Hollywood,1535,624,BATTERY - SIMPLE ASSAULT,0448 1810 0444,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,624.0,NaN,NaN,NaN,5900 TUJUNGA AV,NaN,"(34.1758, -118.3834)"
1048555,171518143,8/31/17,8/31/17,1400,15,N Hollywood,1553,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0104 0325 0344,...,NaN,AA,Adult Arrest,442.0,NaN,NaN,NaN,4700 LAUREL CANYON BL,NaN,"(34.1558, -118.3965)"
1048556,171518148,9/3/17,9/2/17,2030,15,N Hollywood,1511,753,DISCHARGE FIREARMS/SHOTS FIRED,1402 0329,...,HAND GUN,IC,Invest Cont,753.0,998.0,NaN,NaN,7200 COLDWATER CANYON AV,NaN,"(34.2037, -118.421)"
1048557,171518159,9/3/17,9/3/17,500,15,N Hollywood,1525,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,6400 AGNES AV,NaN,"(34.1867, -118.3954)"
1048558,171518172,9/3/17,9/3/17,1130,15,N Hollywood,1562,330,BURGLARY FROM VEHICLE,0344 1307 1609,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,12400 HORTENSE ST,NaN,"(34.155, -118.404)"
1048559,171518174,9/2/17,9/2/17,400,15,N Hollywood,1563,330,BURGLARY FROM VEHICLE,0344 1307 1609,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11500 MOORPARK ST,NaN,"(34.1504, -118.3823)"
1048560,171518176,9/3/17,9/2/17,1030,15,N Hollywood,1548,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 1606 0344,...,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,5300 LANKERSHIM BL,NaN,"(34.167, -118.3759)"
1048561,171518195,9/3/17,8/26/17,1700,15,N Hollywood,1563,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,11700 MOORPARK ST,NaN,"(34.1512, -118.3864)"
1048562,171518196,9/3/17,8/26/17,1700,15,N Hollywood,1563,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,11700 MOORPARK ST,NaN,"(34.1512, -118.3864)"
1048563,171518198,9/2/17,9/2/17,2215,15,N Hollywood,1585,810,"SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W...",0500 1814 1259 0527,...,NaN,IC,Invest Cont,810.0,NaN,NaN,NaN,10900 BLUFFSIDE DR,NaN,"(34.1414, -118.3686)"
1048564,171518199,9/3/17,9/3/17,840,15,N Hollywood,1512,761,BRANDISH WEAPON,1300 0319 1822 0334,...,FOLDING KNIFE,AO,Adult Other,761.0,NaN,NaN,NaN,12700 SHERMAN WY,NaN,"(34.2012, -118.4094)"
1048565,171518200,9/3/17,9/3/17,500,15,N Hollywood,1569,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0345 0445 0411 2004 1822,...,UNKNOWN TYPE CUTTING INSTRUMENT,IC,Invest Cont,230.0,NaN,NaN,NaN,CAHUENGA BL,MOORPARK ST,"(34.1504, -118.3615)"
1048566,171518201,9/3/17,9/3/17,1515,15,N Hollywood,1512,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1822,...,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,12700 SHERMAN WY,NaN,"(34.2012, -118.4094)"
1048567,171518202,9/3/17,9/3/17,1400,15,N Hollywood,1526,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,11400 OXNARD ST,NaN,"(34.1849, -118.3834)"
1048568,171518203,9/1/17,9/1/17,1300,15,N Hollywood,1502,626,INTIMATE PARTNER - SIMPLE ASSAULT,0602 2000 1814,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,7600 GOODLAND AV,NaN,"(34.2087, -118.4122)"
1048569,171518205,9/3/17,9/2/17,1700,15,N Hollywood,1526,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 1300,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,6100 HAZELHURST PL,NaN,"(34.1811, -118.3867)"
1048570,171518209,9/3/17,9/2/17,1500,15,N Hollywood,1501,510,VEHICLE - STOLEN,NaN,...,NaN,AO,Adult Other,510.0,NaN,NaN,NaN,SATICOY,VARNA,"(34.2087, -118.4247)"
1048571,171518210,9/3/17,9/3/17,1500,15,N Hollywood,1501,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,...,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,ARMINTA ST,AMPERE AV,"(34.213, -118.4189)"
1048572,171518213,9/3/17,9/3/17,1910,15,N Hollywood,1504,624,BATTERY - SIMPLE ASSAULT,0913 0400,...,UNKNOWN WEAPON/OTHER WEAPON,AA,Adult Arrest,624.0,NaN,NaN,NaN,11900 RUNNYMEDE ST,NaN,"(34.2058, -118.3921)"
1048573,171518214,9/3/17,9/3/17,1300,15,N Hollywood,1586,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1259,...,NaN,JA,Juv Arrest,745.0,NaN,NaN,NaN,10600 VALLEYHEART DR,NaN,"(34.1419, -118.3609)"
1048574,171518215,9/3/17,9/3/17,1730,15,N Hollywood,1591,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 1814 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,626.0,NaN,NaN,NaN,12600 VENTURA BL,NaN,"(34.1437, -118.4074)"

In [79]:
#check column changes
df.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location ', 'Location'],
      dtype='object')

In [80]:
df['Crime Code Description'].head()

0    VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
1                            OTHER MISCELLANEOUS CRIME
2                                BURGLARY FROM VEHICLE
3    THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
4    VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
Name: Crime Code Description, dtype: object

In [81]:
df['Address'].head()

0            SEPULVEDA                    BL
1    1300 E  21ST                         ST
2            PICO                         BL
3     200 S  OLIVE                        ST
4    1100 S  OLIVE                        ST
Name: Address, dtype: object

In [141]:
#didn't work

#df_new = df["Location"].str.split(",", n = 1, expand = False)

In [171]:
#check content of the Location variable
     #has latitud and longitude together
df['Location'].head()

0    (33.9599, -118.3962)
1    (34.0224, -118.2524)
2    (34.0389, -118.2643)
3    (34.0538, -118.2488)
4    (34.0409, -118.2609)
Name: Location, dtype: object

In [172]:
# Separate the content of the Location variable. Latitude and longitude should be separate variables.

# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df['Location']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude']= lat
df['longitude'] = lon

In [173]:
#check results

df['latitude'].head()

#parenthesis should be removed from the variable

0    (33.9599
1    (34.0224
2    (34.0389
3    (34.0538
4    (34.0409
Name: latitude, dtype: object

In [174]:
#remove parenthesis of the latitude variable with the replace method

df['latitude'].replace(regex=True,inplace=True,to_replace=r'\(',value=r'')
df['latitude'].head()

0    33.9599
1    34.0224
2    34.0389
3    34.0538
4    34.0409
Name: latitude, dtype: object

In [175]:
#remove parenthesis of the longitude variable with the replace method

df['longitude'].replace(regex=True,inplace=True,to_replace=r'\)',value=r'')
df['longitude'].head()

0     -118.3962
1     -118.2524
2     -118.2643
3     -118.2488
4     -118.2609
Name: longitude, dtype: object

In [176]:
#check results
df[['latitude', 'longitude']].head()

  latitude   longitude
0  33.9599   -118.3962
1  34.0224   -118.2524
2  34.0389   -118.2643
3  34.0538   -118.2488
4  34.0409   -118.2609

In [177]:
#check data type 
df['latitude'].dtype

dtype('O')

In [97]:
df['latitude']=df['latitude'].astype(str).astype(float)
df['longitude']= df['longitude'].astype(str).astype(float)

In [98]:
df['latitude'].dtype

dtype('float64')

In [99]:
df['longitude'].dtype

dtype('float64')

In [108]:
df.dtypes

DR Number                   int64
Date Reported              object
Date Occurred              object
Time Occurred               int64
Area ID                     int64
Area Name                  object
Reporting District          int64
Crime Code                  int64
Crime Code Description     object
MO Codes                   object
Victim Age                  int64
Victim Sex                 object
Victim Descent             object
Premise Code              float64
Premise Description        object
Weapon Used Code          float64
Weapon Description         object
Status Code                object
Status Description         object
Crime Code 1              float64
Crime Code 2              float64
Crime Code 3              float64
Crime Code 4              float64
Address                    object
Cross Street               object
Location                   object
Location                   object
latitude                  float64
longitude                 float64
dtype: object

In [ ]:
df.head()

In [178]:
from math import sin, cos, sqrt, atan2, radians
import math
import json
fname = 'us-zip-code-latitude-and-longitude.json'
loadedLatLongData = json.load(open(fname))


def distanceV(lat1, lon1,lat2, lon2):
    #lat1, lon1 = origin
    #lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

def computeNearestZip(latitude, longitude):
    smallestDistance = 1000000
    smallestZip = None
    for data in loadedLatLongData:
        if ("fields" in data):
            distancedata = data["fields"]
            if("latitude" in distancedata and "longitude" in distancedata and "zip" in distancedata):
                zipcode = distancedata["zip"]
                lat1 = distancedata["latitude"]
                long1 = distancedata["longitude"]
                distance = distanceV(latitude,longitude, lat1,long1)

                if(distance <smallestDistance):
                    smallestZip = zipcode
                    smallestDistance = distance


    return smallestDistance, smallestZip

if __name__ == '__main__':
    #lat long of 30339
    smallestDistance, smallestZip = computeNearestZip(33.9599,-118.3962)
    print(smallestZip)
    print(smallestDistance)

    #lat long of 27510
    smallestDistance, smallestZip = computeNearestZip(35.9108, -79.0815)
    print(smallestZip)
    print(smallestDistance)

90045
0.1209174146010057
27510
0.18788594968216657

In [122]:
df['latitude'].dtype

dtype('float64')

In [148]:
df['longitude'].dtype

dtype('float64')

In [183]:
def get_element(my_list, position):
    return my_list[position]

In [203]:
df['Location'][0:1].str.split(',')

0    [33.9599,  -118.3962]
Name: Location, dtype: object

In [204]:
df['Location'].dtype

dtype('O')

In [208]:
df[Zipcode] = df['Location'][0:1].str.split(',').apply(computeNearestZip)

TypeError: computeNearestZip() missing 1 required positional argument: 'longitude'

In [198]:
df['Location'].replace(regex=True,inplace=True,to_replace=r'\(',value=r'')

In [199]:
df['Location'].replace(regex=True,inplace=True,to_replace=r'\)',value=r'')

In [197]:
df[['latitude','longitude']][0:1]

  latitude   longitude
0  33.9599   -118.3962

In [180]:
df.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location ', 'Location',
       'latitude', 'longitude'],
      dtype='object')

In [195]:
df[Zipcode] = df[['latitude','longitude']].apply(computeNearestZip, axis=1)

#df['a'] = df['a'].apply(lambda x: x + 1)
#df.apply(computeNearestZip(df["latitude"],df["longitude"]), convert_dtype=True, args=())

TypeError: ("computeNearestZip() missing 1 required positional argument: 'longitude'", 'occurred at index 0')

In [144]:
df[['latitude','longitude']] = df[['latitude','longitude']].apply(lambda[['latitude','longitude']]: computeNearestZip(), convert_dtype=True, args=())

SyntaxError: invalid syntax (<ipython-input-144-520bc3ed5bd8>, line 1)

In [ ]:
lambda x:

In [ ]:
https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=YOUR_API_KEY

In [ ]:
# webpage resources

#https://stackoverflow.com/questions/23307301/replacing-column-values-in-a-pandas-dataframe
#https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column
#https://stackoverflow.com/questions/3559559/how-to-delete-a-character-from-a-string-using-python
#https://stackoverflow.com/questions/5043815/python-parsing-columns-and-rows