In [56]:
import pandas as pd
import numpy as np
import re

import diffs_latlong
from diffs_latlong import computeNearestZip
import time

In [2]:
zipTester = computeNearestZip(33.8677, -84.4645)

In [3]:
zipTester, type(zipTester)

('30339', str)

In [4]:
csv_file = "Resources/Crime_Data_from_2010_to_Present.csv"
crime_df = pd.read_csv(csv_file)

In [5]:
crime_df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,11401303,09/13/2010,09/12/2010,45,14,Pacific,1485,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,"(33.9599, -118.3962)"
1,70309629,08/09/2010,08/09/2010,1515,13,Newton,1324,946,OTHER MISCELLANEOUS CRIME,0344,...,NaN,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,"(34.0224, -118.2524)"
2,100100508,01/08/2010,01/07/2010,2005,1,Central,182,330,BURGLARY FROM VEHICLE,0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,PICO BL,GRAND AV,"(34.0389, -118.2643)"
3,100100511,01/09/2010,01/06/2010,2100,1,Central,132,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1402,...,NaN,IC,Invest Cont,341.0,998.0,NaN,NaN,200 S OLIVE ST,NaN,"(34.0538, -118.2488)"
4,100100523,01/15/2010,01/15/2010,245,1,Central,182,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,NaN,AA,Adult Arrest,740.0,NaN,NaN,NaN,1100 S OLIVE ST,NaN,"(34.0409, -118.2609)"

In [6]:
crime_df = crime_df.rename(columns={"Location ": "location"})

In [7]:
crime_df['location'].replace(to_replace=["\)","\("], value="", regex=True).str.split(",").head()

0    [33.9599,  -118.3962]
1    [34.0224,  -118.2524]
2    [34.0389,  -118.2643]
3    [34.0538,  -118.2488]
4    [34.0409,  -118.2609]
Name: location, dtype: object

In [8]:
new_cols = crime_df['location'].replace(to_replace=["\)","\("], value="", regex=True).str.split(",", expand = True)

In [9]:
new_cols.head()

         0           1
0  33.9599   -118.3962
1  34.0224   -118.2524
2  34.0389   -118.2643
3  34.0538   -118.2488
4  34.0409   -118.2609

In [10]:
crime_df['lat'] = new_cols[0]
crime_df['long'] = new_cols[1]

In [11]:
crime_df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,location,lat,long
0,11401303,09/13/2010,09/12/2010,45,14,Pacific,1485,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,"(33.9599, -118.3962)",33.9599,-118.3962
1,70309629,08/09/2010,08/09/2010,1515,13,Newton,1324,946,OTHER MISCELLANEOUS CRIME,0344,...,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,"(34.0224, -118.2524)",34.0224,-118.2524
2,100100508,01/08/2010,01/07/2010,2005,1,Central,182,330,BURGLARY FROM VEHICLE,0344,...,Invest Cont,330.0,NaN,NaN,NaN,PICO BL,GRAND AV,"(34.0389, -118.2643)",34.0389,-118.2643
3,100100511,01/09/2010,01/06/2010,2100,1,Central,132,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1402,...,Invest Cont,341.0,998.0,NaN,NaN,200 S OLIVE ST,NaN,"(34.0538, -118.2488)",34.0538,-118.2488
4,100100523,01/15/2010,01/15/2010,245,1,Central,182,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,Adult Arrest,740.0,NaN,NaN,NaN,1100 S OLIVE ST,NaN,"(34.0409, -118.2609)",34.0409,-118.2609

In [12]:
type(crime_df['lat'][0]), type(crime_df['long'][0])

(str, str)

In [13]:
# crime_df['lat'] = pd.to_numeric(crime_df['lat'])
# crime_df['long'] = pd.to_numeric(crime_df['long'])


# crime_df['lat']=crime_df['lat'].astype(str).astype(float)
# crime_df['long']=crime_df['long'].astype(str).astype(float)

crime_df['lat']=crime_df['lat'].astype(float)
crime_df['long']=crime_df['long'].astype(float)

In [14]:
type(crime_df['lat'][0]), type(crime_df['long'][0])

(numpy.float64, numpy.float64)

In [15]:
crime_df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,location,lat,long
0,11401303,09/13/2010,09/12/2010,45,14,Pacific,1485,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,"(33.9599, -118.3962)",33.9599,-118.3962
1,70309629,08/09/2010,08/09/2010,1515,13,Newton,1324,946,OTHER MISCELLANEOUS CRIME,0344,...,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,"(34.0224, -118.2524)",34.0224,-118.2524
2,100100508,01/08/2010,01/07/2010,2005,1,Central,182,330,BURGLARY FROM VEHICLE,0344,...,Invest Cont,330.0,NaN,NaN,NaN,PICO BL,GRAND AV,"(34.0389, -118.2643)",34.0389,-118.2643
3,100100511,01/09/2010,01/06/2010,2100,1,Central,132,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1402,...,Invest Cont,341.0,998.0,NaN,NaN,200 S OLIVE ST,NaN,"(34.0538, -118.2488)",34.0538,-118.2488
4,100100523,01/15/2010,01/15/2010,245,1,Central,182,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,Adult Arrest,740.0,NaN,NaN,NaN,1100 S OLIVE ST,NaN,"(34.0409, -118.2609)",34.0409,-118.2609

In [16]:
crime_df['lat'][0], crime_df['long'][0]
crime_df['lat'].dtype

dtype('float64')

In [17]:
crime_df.dtypes

DR Number                   int64
Date Reported              object
Date Occurred              object
Time Occurred               int64
Area ID                     int64
Area Name                  object
Reporting District          int64
Crime Code                  int64
Crime Code Description     object
MO Codes                   object
Victim Age                  int64
Victim Sex                 object
Victim Descent             object
Premise Code              float64
Premise Description        object
Weapon Used Code          float64
Weapon Description         object
Status Code                object
Status Description         object
Crime Code 1              float64
Crime Code 2              float64
Crime Code 3              float64
Crime Code 4              float64
Address                    object
Cross Street               object
location                   object
lat                       float64
long                      float64
dtype: object

In [85]:
# crime_df['lat'].dtypes
# smallDf['zip']
# smallDf
smallDf['zip']

KeyError: 'zip'

In [84]:
# smallDf['zip'] = smallDf.apply(computeNearestZip(smallDf['lat'], smallDf['long'], axis=1, raw=False)
smallDf['zip'] = smallDf.apply(computeNearestZip(smallDf['lat'],smallDf['long']), axis=1)

TypeError: cannot convert the series to <class 'float'>

In [18]:
def zipWrapper(myDf):
    
    lat = myDf['lat']
    long = myDf['long']
    return computeNearestZip(lat, long)

In [77]:
smallDf = crime_df[['lat', 'long']].iloc[:100,:]
smallDf.tail()

        lat      long
95  34.0480 -118.2577
96  34.0510 -118.2480
97  34.0467 -118.2556
98  34.0419 -118.2485
99  34.0390 -118.2400

In [61]:
def timer():
    begining = time.time()
    smallDf['zip'] = smallDf.apply(func=zipWrapper, axis=1)
    end = time.time()
    print(end-begining)

In [49]:
# smallDf100['zip'] = smallDf.apply(func=zipWrapper, axis=1, raw=False)

smallDf['zip'] = smallDf.apply(func=zipWrapper, axis=1)

In [73]:
smallDf[100:150]
smallDf[150:200]
smallDf[750:800]

         lat      long    zip
750  34.0451 -118.2700  90015
751  34.0392 -118.2328  90013
752  34.0669 -118.2458  90012
753  33.9980 -118.4709  90291
754  34.0495 -118.2494  90071
755  34.0371 -118.2612  90015
756  34.0530 -118.2444  90013
757  34.0658 -118.2296  90012
758  34.0641 -118.2480  90012
759  34.0347 -118.2645  90015
760  34.0649 -118.2399  90012
761  34.0442 -118.2439  90013
762  34.0693 -118.2404  90012
763  34.0371 -118.2551  90014
764  34.0408 -118.2511  90014
765  34.0396 -118.2558  90014
766  34.0439 -118.2514  90014
767  34.0515 -118.2424  90013
768  34.0437 -118.2652  90015
769  34.0433 -118.2504  90014
770  34.0487 -118.2588  90071
771  34.0488 -118.2483  90013
772  34.0474 -118.2531  90014
773  34.0502 -118.2540  90071
774  34.0540 -118.2435  90012
775  34.0724 -118.2470  90012
776  34.0663 -118.2441  90012
777  34.0563 -118.2374  90012
778  34.0310 -118.2602  90015
779  34.0494 -118.2599  90071
780  34.0423 -118.2452  90013
781  34.0510 -118.2480  90071
782  33.9651 -118.2783  90003
783  34.0446 -118.2490  90014
784  34.0736 -118.2312  90031
785  34.0433 -118.2504  90014
786  34.0495 -118.2529  90071
787  34.0566 -118.2319  90012
788  34.0502 -118.2540  90071
789  34.0626 -118.2445  90012
790  34.0357 -118.2563  90015
791  34.0444 -118.2628  90015
792  34.0510 -118.2445  90013
793  34.0617 -118.2469  90012
794  34.0516 -118.2526  90071
795  34.0563 -118.2374  90012
796  34.0480 -118.2577  90071
797  34.0494 -118.2581  90071
798  34.0430 -118.2606  90015
799  34.0551 -118.2545  90071

In [ ]:
smallDf['zip'] = smallDf.apply(func=zipWrapper, axis=1, raw=False)

In [24]:
crime_df[['location', 'lat', 'long']].head()

               location      lat      long
0  (33.9599, -118.3962)  33.9599 -118.3962
1  (34.0224, -118.2524)  34.0224 -118.2524
2  (34.0389, -118.2643)  34.0389 -118.2643
3  (34.0538, -118.2488)  34.0538 -118.2488
4  (34.0409, -118.2609)  34.0409 -118.2609

In [241]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963743 entries, 0 to 1963742
Data columns (total 28 columns):
DR Number                 int64
Date Reported             object
Date Occurred             object
Time Occurred             int64
Area ID                   int64
Area Name                 object
Reporting District        int64
Crime Code                int64
Crime Code Description    object
MO Codes                  object
Victim Age                int64
Victim Sex                object
Victim Descent            object
Premise Code              float64
Premise Description       object
Weapon Used Code          float64
Weapon Description        object
Status Code               object
Status Description        object
Crime Code 1              float64
Crime Code 2              float64
Crime Code 3              float64
Crime Code 4              float64
Address                   object
Cross Street              object
location                  object
lat                       float64
long                      float64
dtypes: float64(8), int64(6), object(14)
memory usage: 419.5+ MB

In [242]:
for i in range(len(crime_df.columns)):
    print(i, crime_df.columns[i] )

0 DR Number
1 Date Reported
2 Date Occurred
3 Time Occurred
4 Area ID
5 Area Name
6 Reporting District
7 Crime Code
8 Crime Code Description
9 MO Codes
10 Victim Age
11 Victim Sex
12 Victim Descent
13 Premise Code
14 Premise Description
15 Weapon Used Code
16 Weapon Description
17 Status Code
18 Status Description
19 Crime Code 1
20 Crime Code 2
21 Crime Code 3
22 Crime Code 4
23 Address
24 Cross Street
25 location
26 lat
27 long

In [22]:
# crime_df[crime_df.columns[0]]
# type(list(crime_df[crime_df.columns[8]].value_counts()))

# print(len(crime_df[crime_df.columns[8]].value_counts()))


# for i in range(len(crime_df[crime_df.columns[8]].value_counts())):
#     print(i, crime_df[crime_df.columns[8]].value_counts()[i] )

In [243]:
pd.DataFrame(crime_df[crime_df.columns[8]]).head()

                              Crime Code Description
0  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
1                          OTHER MISCELLANEOUS CRIME
2                              BURGLARY FROM VEHICLE
3  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
4  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...

In [244]:
pd.DataFrame(crime_df[crime_df.columns[8]].value_counts())

                                                    Crime Code Description
BATTERY - SIMPLE ASSAULT                                            177750
BURGLARY FROM VEHICLE                                               151060
VEHICLE - STOLEN                                                    149714
THEFT PLAIN - PETTY ($950 & UNDER)                                  139359
BURGLARY                                                            139278
THEFT OF IDENTITY                                                   119519
INTIMATE PARTNER - SIMPLE ASSAULT                                   106243
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VAN...                  100855
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                             85391
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT                       85361
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)                      81499
ROBBERY                                                              78299
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIV...                   68973
CRIMINAL THREATS - NO WEAPON DISPLAYED                               53301
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                             44731
THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)                     28938
DOCUMENT FORGERY / STOLEN FELONY                                     21741
LETTERS, LEWD  -  TELEPHONE CALLS, LEWD                              19732
TRESPASSING                                                          19553
OTHER MISCELLANEOUS CRIME                                            19519
VIOLATION OF COURT ORDER                                             18855
VIOLATION OF RESTRAINING ORDER                                       17625
THEFT, PERSON                                                        13628
BRANDISH WEAPON                                                      13477
INTIMATE PARTNER - AGGRAVATED ASSAULT                                13354
BIKE - STOLEN                                                        12685
BURGLARY, ATTEMPTED                                                  11873
ATTEMPTED ROBBERY                                                    11199
BATTERY WITH SEXUAL CONTACT                                          10352
RAPE, FORCIBLE                                                        9405
...                                                                    ...
PURSE SNATCHING - ATTEMPT                                               46
DRUGS, TO A MINOR                                                       45
LYNCHING                                                                43
THEFT, COIN MACHINE - GRAND ($950.01 & OVER)                            43
DISRUPT SCHOOL                                                          41
BIKE - ATTEMPTED STOLEN                                                 36
TELEPHONE PROPERTY - DAMAGE                                             35
DRUNK ROLL                                                              34
BRIBERY                                                                 30
THEFT, COIN MACHINE - ATTEMPT                                           24
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT ...                      24
PETTY THEFT - AUTO REPAIR                                               24
LYNCHING - ATTEMPTED                                                    23
REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DI...                      23
PICKPOCKET, ATTEMPT                                                     21
FAILURE TO DISPERSE                                                     20
TILL TAP - GRAND THEFT ($950.01 & OVER)                                 18
INCITING A RIOT                                                         14
GRAND THEFT / AUTO REPAIR                                               14
BIGAMY                                                                  12
INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)                             9
DISHONEST EMPLOYEE ATTEMPTED THEFT                                       8
ABORTION/ILLEGAL                                                         6
MANSLAUGHTER, NEGLIGENT                                                  5
TILL TAP - ATTEMPT                                                       4
BLOCKING DOOR INDUCTION CENTER                                           3
TRAIN WRECKING                                                           2
FIREARMS RESTRAINING ORDER (FIREARMS RO)                                 2
DRUNK ROLL - ATTEMPT                                                     1
FIREARMS TEMPORARY RESTRAINING ORDER (TEMP FIRE...                       1

[140 rows x 1 columns]

In [245]:
len(crime_df.columns)

28

In [246]:
crime_df['Address'][1]

'1300 E  21ST                         ST'

In [251]:
crime_df['Address'].str.split().head()

0         [SEPULVEDA, BL]
1     [1300, E, 21ST, ST]
2              [PICO, BL]
3     [200, S, OLIVE, ST]
4    [1100, S, OLIVE, ST]
Name: Address, dtype: object

In [252]:
crime_df['Area Name'].unique()

array(['Pacific', 'Newton', 'Central', 'Northeast', 'Hollenbeck',
       'Southwest', '77th Street', 'Southeast', 'Van Nuys', 'Rampart',
       'N Hollywood', 'Wilshire', 'Olympic', 'Harbor', 'Hollywood',
       'West LA', 'Topanga', 'Mission', 'West Valley', 'Foothill',
       'Devonshire'], dtype=object)

In [253]:
type(crime_df['Date Reported'][0])

str

In [254]:
print(crime_df['Date Reported'][0], type(crime_df['Date Reported'][0]) )

09/13/2010 <class 'str'>

In [43]:
crime_df[crime_df.columns[0]].value_counts().count()

1963743

In [44]:
crime_df[crime_df.columns[0]].count()

1963743

In [45]:
crime_df[crime_df.columns[1]].value_counts().count()

3414

In [47]:
crime_df[crime_df.columns[1]].count()/crime_df[crime_df.columns[1]].value_counts().count()

575.2029876977153

In [49]:
crime_df['Victim Descent'].value_counts()

H    670255
W    472922
B    309869
O    187507
X     64807
A     46805
K      8504
F      2280
I       846
C       824
J       322
P       320
U       174
V       139
Z        92
G        77
S        30
D        20
L        14
-         3
Name: Victim Descent, dtype: int64

In [50]:
crime_df['Victim Descent'].unique()

array(['W', 'H', 'O', 'B', 'A', 'X', nan, 'K', 'V', 'J', 'F', 'P', 'C',
       'I', 'U', 'D', 'G', 'Z', 'L', 'S', '-'], dtype=object)

In [52]:
# la_crime_df['Location'].head()
cols = list(crime_df.columns)
cols

['DR Number',
 'Date Reported',
 'Date Occurred',
 'Time Occurred',
 'Area ID',
 'Area Name',
 'Reporting District',
 'Crime Code',
 'Crime Code Description',
 'MO Codes',
 'Victim Age',
 'Victim Sex',
 'Victim Descent',
 'Premise Code',
 'Premise Description',
 'Weapon Used Code',
 'Weapon Description',
 'Status Code',
 'Status Description',
 'Crime Code 1',
 'Crime Code 2',
 'Crime Code 3',
 'Crime Code 4',
 'Address',
 'Cross Street',
 'Location ']

In [53]:
# print(cols)
for i in range(len(cols)):
    cols[i] = cols[i].strip()

In [54]:
cols

['DR Number',
 'Date Reported',
 'Date Occurred',
 'Time Occurred',
 'Area ID',
 'Area Name',
 'Reporting District',
 'Crime Code',
 'Crime Code Description',
 'MO Codes',
 'Victim Age',
 'Victim Sex',
 'Victim Descent',
 'Premise Code',
 'Premise Description',
 'Weapon Used Code',
 'Weapon Description',
 'Status Code',
 'Status Description',
 'Crime Code 1',
 'Crime Code 2',
 'Crime Code 3',
 'Crime Code 4',
 'Address',
 'Cross Street',
 'Location']

In [57]:
crime_df['Location '][:10]

0    (33.9599, -118.3962)
1    (34.0224, -118.2524)
2    (34.0389, -118.2643)
3    (34.0538, -118.2488)
4    (34.0409, -118.2609)
5    (34.0401, -118.2668)
6     (34.0502, -118.254)
7    (34.0437, -118.2652)
8     (34.048, -118.2577)
9    (34.0389, -118.2643)
Name: Location , dtype: object

In [86]:
# for i in range(len(crime_df.columns)):
#     crime_df.columns[i] = crime_df.columns[i].strip()  
# # ====> @TODO: ITERATE OVER CSV HEADERS & .strip()

In [59]:
crime_df.describe()

,DR Number,Time Occurred,Area ID,Reporting District,Crime Code,Victim Age,Premise Code,Weapon Used Code,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4
count,1.963743e+06,1.963743e+06,1.963743e+06,1.963743e+06,1.963743e+06,1.963743e+06,1.963693e+06,656863.000000,1.963734e+06,127805.000000,3148.000000,95.000000
mean,1.445792e+08,1.361682e+03,1.110856e+01,1.157252e+03,5.068868e+02,3.152165e+01,3.112567e+02,371.125656,5.067246e+02,951.139525,971.362135,973.968421
std,2.721536e+07,6.467283e+02,6.006222e+00,6.006188e+02,2.104685e+02,2.071300e+01,2.109775e+02,113.669753,2.103422e+02,125.343670,87.213436,84.453494
min,2.100000e+02,1.000000e+00,1.000000e+00,1.000000e+02,1.100000e+02,-9.000000e+00,1.010000e+02,101.000000,1.100000e+02,210.000000,93.000000,421.000000
25%,1.211085e+08,9.300000e+02,6.000000e+00,6.440000e+02,3.300000e+02,1.900000e+01,1.020000e+02,400.000000,3.300000e+02,998.000000,998.000000,998.000000
50%,1.421147e+08,1.430000e+03,1.200000e+01,1.203000e+03,4.410000e+02,3.100000e+01,2.100000e+02,400.000000,4.410000e+02,998.000000,998.000000,998.000000
75%,1.705078e+08,1.900000e+03,1.600000e+01,1.672000e+03,6.260000e+02,4.600000e+01,5.010000e+02,400.000000,6.260000e+02,998.000000,998.000000,998.000000
max,9.102204e+08,2.359000e+03,2.100000e+01,2.199000e+03,9.560000e+02,1.180000e+02,9.710000e+02,516.000000,9.990000e+02,999.000000,999.000000,999.000000