## Shift + tab for methods info
## command + / = comments out all

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import colors

import datetime as dt
import numpy as np
import os

# Load packages
# from pygeocoder import Geocoder

In [ ]:
os.listdir()

In [3]:
# dir(geopy)
MyHW/ETL_PROJECT/MR_testFiles/Resources/Crime_Data_from_2010_to_Present.csv

In [2]:
df = pd.read_csv("Resources/Crime_Data_from_2010_to_Present.csv",parse_dates=True)

In [3]:
df.head()
df.tail()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
1963738,181921345,12/04/2018,11/25/2010,1200,19,Mission,1935,310,BURGLARY,0344 1602,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,15200 S BRAND BL,NaN,"(34.2752, -118.4603)"
1963739,100704828,01/18/2010,01/18/2010,2230,7,Wilshire,787,626,INTIMATE PARTNER - SIMPLE ASSAULT,0400 1402 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,998.0,NaN,NaN,2200 WELLINGTON RD,NaN,"(34.0366, -118.3357)"
1963740,101200721,05/21/2010,05/20/2010,2300,12,77th Street,1245,121,"RAPE, FORCIBLE",0342 0503 0537 0527 1206 1251 1259 1309 1415 1822,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,121.0,NaN,NaN,NaN,69TH ST,DENKER AV,"(33.977, -118.3046)"
1963741,191005089,01/26/2019,01/01/2010,1000,10,West Valley,1029,354,THEFT OF IDENTITY,1822 0377,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7000 WOODLEY AV,NaN,"(34.1976, -118.4837)"
1963742,191505220,01/24/2019,01/05/2010,700,15,N Hollywood,1555,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1202 0701,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,5000 LANKERSHIM BL,NaN,"(34.1611, -118.3723)"

In [75]:
type(df)

pandas.core.frame.DataFrame

## Check variables

In [8]:
#save columns to an object (save the columns in a list to mutate them)

# cols= list(df.columns)
# print(cols)

In [9]:
#remove spaces from 

# for i in range(len(cols)):
#     cols[i]=cols[i].strip()
# print(cols)

In [ ]:
#remove spaces from the variable name by assigning the values to a new variable
df['Location'] = df['Location ']
#removed old column
df.drop(columns= 'Location ')

In [ ]:
#check column changes
df.columns

In [80]:
df['Crime Code Description'].head()

0    VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
1                            OTHER MISCELLANEOUS CRIME
2                                BURGLARY FROM VEHICLE
3    THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
4    VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
Name: Crime Code Description, dtype: object

In [81]:
df['Address'].head()

0            SEPULVEDA                    BL
1    1300 E  21ST                         ST
2            PICO                         BL
3     200 S  OLIVE                        ST
4    1100 S  OLIVE                        ST
Name: Address, dtype: object

In [141]:
#didn't work

#df_new = df["Location"].str.split(",", n = 1, expand = False)

In [82]:
#check content of the Location variable
     #has latitud and longitude together
df['Location'].head()

0    (33.9599, -118.3962)
1    (34.0224, -118.2524)
2    (34.0389, -118.2643)
3    (34.0538, -118.2488)
4    (34.0409, -118.2609)
Name: Location, dtype: object

In [6]:
# Separate the content of the Location variable. Latitude and longitude should be separate variables.

# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df['Location']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        print(": ( ")
        # append a missing value to lat
#         lat.append(np.NaN)
        # append a missing value to lon
#         lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude']= lat
df['longitude'] = lon

In [7]:
#check results

df['latitude'].head()

#parenthesis should be removed from the variable

0    (33.9599
1    (34.0224
2    (34.0389
3    (34.0538
4    (34.0409
Name: latitude, dtype: object

In [8]:
#remove parenthesis of the latitude variable with the replace method

df['latitude'].replace(regex=True,inplace=True,to_replace=r'\(',value=r'')
df['latitude'].head()

0    33.9599
1    34.0224
2    34.0389
3    34.0538
4    34.0409
Name: latitude, dtype: object

In [9]:
#remove parenthesis of the longitude variable with the replace method

df['longitude'].replace(regex=True,inplace=True,to_replace=r'\)',value=r'')
df['longitude'].head()

0     -118.3962
1     -118.2524
2     -118.2643
3     -118.2488
4     -118.2609
Name: longitude, dtype: object

In [10]:
#check results
df[['latitude', 'longitude']].head()

  latitude   longitude
0  33.9599   -118.3962
1  34.0224   -118.2524
2  34.0389   -118.2643
3  34.0538   -118.2488
4  34.0409   -118.2609

In [17]:
#check data type 
df['latitude'].dtype

dtype('O')

In [11]:
df['latitude']=df['latitude'].astype(str).astype(float)
df['longitude']= df['longitude'].astype(str).astype(float)

In [12]:
df['latitude'].dtype

dtype('float64')

In [13]:
df['longitude'].dtype

dtype('float64')

In [21]:
df.dtypes

DR Number                   int64
Date Reported              object
Date Occurred              object
Time Occurred               int64
Area ID                     int64
Area Name                  object
Reporting District          int64
Crime Code                  int64
Crime Code Description     object
MO Codes                   object
Victim Age                  int64
Victim Sex                 object
Victim Descent             object
Premise Code              float64
Premise Description        object
Weapon Used Code          float64
Weapon Description         object
Status Code                object
Status Description         object
Crime Code 1              float64
Crime Code 2              float64
Crime Code 3              float64
Crime Code 4              float64
Address                    object
Cross Street               object
Location                   object
Location                   object
latitude                  float64
longitude                 float64
dtype: object

In [ ]:
df.head()

In [14]:
from math import sin, cos, sqrt, atan2, radians
import math
import json
fname = 'us-zip-code-latitude-and-longitude.json'
loadedLatLongData = json.load(open(fname))


def distanceV(lat1, lon1,lat2, lon2):
    #lat1, lon1 = origin
    #lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

def computeNearestZip(latitude, longitude):
    smallestDistance = 1000000
    smallestZip = None
    for data in loadedLatLongData:
        if ("fields" in data):
            distancedata = data["fields"]
            if("latitude" in distancedata and "longitude" in distancedata and "zip" in distancedata):
                zipcode = distancedata["zip"]
                lat1 = distancedata["latitude"]
                long1 = distancedata["longitude"]
                distance = distanceV(latitude,longitude, lat1,long1)

                if(distance <smallestDistance):
                    smallestZip = zipcode
                    smallestDistance = distance


#     return smallestDistance, smallestZip
    return smallestZip


# if __name__ == '__main__':
#     #lat long of 30339
#     smallestDistance, smallestZip = computeNearestZip(33.9599,-118.3962)
#     print(smallestZip)
#     print(smallestDistance)

#     #lat long of 27510
#     smallestDistance, smallestZip = computeNearestZip(35.9108, -79.0815)
#     print(smallestZip)
#     print(smallestDistance)

In [15]:
computeNearestZip(33.9599,-118.3962)

'90045'

In [23]:
df['latitude'].dtype

dtype('float64')

In [24]:
df['longitude'].dtype

dtype('float64')

In [ ]:
computeNearestZip(33.9599,-118.3962)

In [33]:
def zip_(row):
    return computeNearestZip

In [18]:
# df['zips'] = df.apply(computeNearestZip(33.9599,-118.3962))

df['zip'] = ''

#df['a'] = df['a'].apply(lambda x: x + 1)
#df.apply(computeNearestZip(df["latitude"],df["longitude"]), convert_dtype=True, args=())

In [ ]:
for i in range(len(df['latitude'])):
    df['zip'][i] = computeNearestZip(df['latitude'][i], df['longitude'][i])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
df.head()

In [144]:
df[['latitude','longitude']] = df[['latitude','longitude']].apply(lambda[['latitude','longitude']]: computeNearestZip(), convert_dtype=True, args=())

SyntaxError: invalid syntax (<ipython-input-144-520bc3ed5bd8>, line 1)

In [39]:
for index, row in df.iterrows():
    df['zip'][index] = computeNearestZip(df.latitude, df.longitude)

TypeError: cannot convert the series to <class 'float'>

In [38]:
df['latitude'][0]

33.9599

In [ ]:
https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=YOUR_API_KEY

In [ ]:
# webpage resources

#https://stackoverflow.com/questions/23307301/replacing-column-values-in-a-pandas-dataframe
#https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column
#https://stackoverflow.com/questions/3559559/how-to-delete-a-character-from-a-string-using-python
#https://stackoverflow.com/questions/5043815/python-parsing-columns-and-rows